* {
  margin: 0px;
}

.container {
  display: flex;
  background-color: white;
}

#todo {
  width: 100%;
  min-width: 500px;
  min-height: 450px;
}

.todo__header {
  background: url(image/b4.png);
  background-color: red;
  height: 300px;
}

.todo__title {
  color: white;
  font: bold italic 110% sans-serif;
  font-size: 78pt;
  height: 100px;
  vertical-align: text-top;
  padding-left: 100px;
  padding-top: 130px;
  margin-bottom: 16px;
}

.todo__input {
  padding-left: 100px;
  padding-right: 100px;
}

.todo__input-newTodo {
  width: -webkit-fill-available;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.todo__buttons {
  display: flex;
  justify-content: space-between;
}

.todo__list {
  min-height: 150px;
  margin: 0;
  padding: 0;
}

.todo-text {
  margin-right: 12px;
}

.todo__list-li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 100px;
  font-size: 18px;
  transition: 0.2s;
}

.todo__list-li:nth-child(even) {
  background: #f7abae;
}

.todo__list-li:hover {
  background: #f55b61;
}

.todo__list-li.checked {
  background: red;
  color: #fff;
  text-decoration: line-through;
}

.todo__list-li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  margin-left: 50px;
}

.todo__btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 24px 12px 24px;
}

.todo__btn-delete:hover {
  background-color: #f44336;
  color: white;
}
