.container {
  display: flex;
  justify-content: center;
  background-color: palegreen;
  margin: 0px;
}

#todo {
  width: 306px;
  border: 1px solid black;
}

#input-newTodo {
  width: 300px;
  border: 1px solid black;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

.headline {
  text-align: center;
}

.add-todo {
}

.todos {
  padding-left: 20px;
  background-color: white;
  border: 1px solid black;
}

.todo-text {
  margin-right: 12px;
}
